# Compiled binaries
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
*.dll
*.exe
*.app
*.log

# Visual Studio files
.vs/
.vscode/
*.code-workspace

# DotCover
.idea/
*.dotCover

# Rider
.idea/
*.sln.iml

# NuGet packages
*.nupkg
# The packages folder can be ignored because of package restore
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Backup files
*.bak
*.old
*.orig
*.tmp

# Others
*.vspscc
*.vssscc
*.dbmdl
*.pdb
*.cache
*.zip
*.rar

# JetBrains Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt
